@import './layout/_header';
@import './layout/_top';
@import './layout/_features';
@import './layout/_whatwedo';
@import './layout/_team';
@import './layout/_partners';
@import './layout/_footer';
@import './layout/_gallery';

@import './components/_container';
@import './components/_logo';
@import './components/_soc-list';
@import './components/_address';
@import './components/_modal';

@import './utils/variables.scss';