.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery-buttons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-buttons-link {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: #f5f4fa;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 250ms background-color var(--timing-animation),
        250ms box-shadow var(--timing-animation),
        250ms color var(--timing-animation);

    &:hover, &:focus {
            background-color: var(--second-text-color);
            box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
                0px 3px 1px 0px #0000001a;
            color: #ffffff;
    }
}



.gallery-buttons-item:not(:last-child) {
    margin-right: 8px;
}

.gallery-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
}

.gallery-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;

    position: relative;

    &:hover {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.gallery-thumb {
    position: relative;
    width: 100%;
    height: 294px;
    overflow: hidden;

    &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(33, 150, 243, 0.9);
            transform: translateY(100%);
            transition: transform 250ms var(--timing-animation);

            .gallery-item:hover & {
                    transform: translateY(0%);
                }
        }
}

.gallery-thumb-text {
    position: absolute;
    font-style: normal;
    top: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    transform: translateY(100%);
    transition: transform 350ms var(--timing-animation);

    .gallery-item:hover & {
        transform: translateY(0%);
    }
}

.gallery-text {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
}

.gallery-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}

.gallery-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
    margin-left: 24px;
}

.current-button {
    color: #ffffff;
    background-color: #2196f3;
}