.wwd {
    padding-top: 94px;
    padding-bottom: 94px;
}

.wwd__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    box-sizing: content-box;
    text-align: center;
    margin-bottom: 50px;
}

.wwd__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;

    &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
            bottom: 0px;
        }
}

.wwd__text {
    position: absolute;
    top: 251px;
    left: 83px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}



.wwd__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
}