.address {
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 10px;
}

.address__list {
    margin-top: 20px;
    display: block;
}

.address__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: 250ms color var(--timing-animation);

    &:hover,
    &:focus {
        color: var(--second-text-color);
    }
}

.address__mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms color var(--timing-animation);

    &:hover,
    &:focus {
        color: var(--second-text-color);
    }
}

.address__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms color var(--timing-animation);

    &:hover,
    &:focus {
        color: var(--second-text-color);
    }
}