.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    display: block;
}

.header__logo {
    margin-right: 90px;
    padding: 25px 0px;
    color: #000000;
}

.logo__blue {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer-logo {
    color: #ffffff;
}